@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

body{
  font-family: "Pretendard Variable", Pretendard ,sans-serif;
}
/* PC(기본 */
html{
  font-size: 16px;
}
/* 테블릿 이하일 때  768px*/
@media all and (max-width: 768px) {
  html{
    font-size: 12px;
  }
}