#hoz-video{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    font-size: 3rem;
    text-align: center;
  }
  .video-wrap{    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    video{
      width: 100%;
      height: 0vh;    
      object-fit: cover;
    }
    .video-txt{
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      li:nth-child(1){
        gap: 2rem;
        font-size: 3rem;
        span{
          font-size: 5rem;
          font-weight: bolder;
        }                
      }
      li:nth-child(2){
        font-size: 0.8rem;
        span{
          display: inline-block;
          padding: 1rem;
          background-color: rgba(0,0,0,0.3);
          border-radius: 1rem;
          border: 1px solid #fff;
          &:nth-child(1){
            margin-left: 3rem;
          }
          &:nth-child(3){
            margin-right: 2rem;
          }
        }
      }
    }
  }
  
}