#main-layout{
  overflow-x: hidden;
}
main{
  #about{    
    height: 80vh;
    padding-top: 200px;
    h2{
      text-align: center;
    }
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      font-size: 2rem;
      margin: 1rem 0;
    }
    .summary{
      text-align: center;
      padding: 3rem 0;
      font-size: 5rem;
      background-color: dodgerblue;
      color: #fff;
    }
  }
  #info{
    height: 80vh;
    padding-top: 200px;
    div{
      height: 100vh;
      font-size: 10rem;
      text-align: center;
      border: 2px solid #222;
    }
  }
}