#main-video{
  position: relative;     
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  .text-content{
    margin: 3rem 0;
    text-align: center;
    h1{ font-size: 4rem; line-height: 1.3;}
    h2{ font-size: 2rem; margin-bottom: 2rem;}
  }
  .video-wrap{
    width: 50%;
    height: 100vh;
    border-radius: 4rem;
    overflow: hidden;
    video{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media all and (max-width:768px) {
  #main-video{
    .video-wrap{
      width: 80%;
    }
  }
}